<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.datawork.datahub.mapper.DatahubJobInfoMapper">
    
    <resultMap type="DatahubJobInfo" id="DatahubJobInfoResult">
        <result property="id"    column="id"    />
        <result property="jobGroup"    column="job_group"    />
        <result property="jobCron"    column="job_cron"    />
        <result property="jobDesc"    column="job_desc"    />
        <result property="projectId"    column="project_id"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userId"    column="user_id"    />
        <result property="alarmEmail"    column="alarm_email"    />
        <result property="executorRouteStrategy"    column="executor_route_strategy"    />
        <result property="executorHandler"    column="executor_handler"    />
        <result property="executorParam"    column="executor_param"    />
        <result property="executorBlockStrategy"    column="executor_block_strategy"    />
        <result property="executorTimeout"    column="executor_timeout"    />
        <result property="executorFailRetryCount"    column="executor_fail_retry_count"    />
        <result property="glueType"    column="glue_type"    />
        <result property="glueSource"    column="glue_source"    />
        <result property="glueRemark"    column="glue_remark"    />
        <result property="glueUpdatetime"    column="glue_updatetime"    />
        <result property="childJobid"    column="child_jobid"    />
        <result property="triggerStatus"    column="trigger_status"    />
        <result property="triggerLastTime"    column="trigger_last_time"    />
        <result property="triggerNextTime"    column="trigger_next_time"    />
        <result property="jobJson"    column="job_json"    />
        <result property="replaceParam"    column="replace_param"    />
        <result property="jvmParam"    column="jvm_param"    />
        <result property="incStartTime"    column="inc_start_time"    />
        <result property="partitionInfo"    column="partition_info"    />
        <result property="lastHandleCode"    column="last_handle_code"    />
        <result property="replaceParamType"    column="replace_param_type"    />
        <result property="readerTable"    column="reader_table"    />
        <result property="primaryKey"    column="primary_key"    />
        <result property="incStartId"    column="inc_start_id"    />
        <result property="incrementType"    column="increment_type"    />
        <result property="datasourceId"    column="datasource_id"    />
    </resultMap>

    <sql id="selectDatahubJobInfoVo">
        select id, job_group, job_cron, job_desc, project_id, add_time, update_time, user_id, alarm_email, executor_route_strategy, executor_handler, executor_param, executor_block_strategy, executor_timeout, executor_fail_retry_count, glue_type, glue_source, glue_remark, glue_updatetime, child_jobid, trigger_status, trigger_last_time, trigger_next_time, job_json, replace_param, jvm_param, inc_start_time, partition_info, last_handle_code, replace_param_type, reader_table, primary_key, inc_start_id, increment_type, datasource_id from t_datahub_job_info
    </sql>

    <select id="selectDatahubJobInfoList" parameterType="DatahubJobInfo" resultMap="DatahubJobInfoResult">
        <include refid="selectDatahubJobInfoVo"/>
        <where>  
            <if test="jobGroup != null "> and job_group = #{jobGroup}</if>
            <if test="jobCron != null  and jobCron != ''"> and job_cron = #{jobCron}</if>
        </where>
    </select>
    
    <select id="selectDatahubJobInfoById" parameterType="Long" resultMap="DatahubJobInfoResult">
        <include refid="selectDatahubJobInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDatahubJobInfo" parameterType="DatahubJobInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_datahub_job_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobGroup != null">job_group,</if>
            <if test="jobCron != null and jobCron != ''">job_cron,</if>
            <if test="jobDesc != null and jobDesc != ''">job_desc,</if>
            <if test="projectId != null">project_id,</if>
            <if test="addTime != null">add_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="alarmEmail != null">alarm_email,</if>
            <if test="executorRouteStrategy != null">executor_route_strategy,</if>
            <if test="executorHandler != null">executor_handler,</if>
            <if test="executorParam != null">executor_param,</if>
            <if test="executorBlockStrategy != null">executor_block_strategy,</if>
            <if test="executorTimeout != null">executor_timeout,</if>
            <if test="executorFailRetryCount != null">executor_fail_retry_count,</if>
            <if test="glueType != null and glueType != ''">glue_type,</if>
            <if test="glueSource != null">glue_source,</if>
            <if test="glueRemark != null">glue_remark,</if>
            <if test="glueUpdatetime != null">glue_updatetime,</if>
            <if test="childJobid != null">child_jobid,</if>
            <if test="triggerStatus != null">trigger_status,</if>
            <if test="triggerLastTime != null">trigger_last_time,</if>
            <if test="triggerNextTime != null">trigger_next_time,</if>
            <if test="jobJson != null">job_json,</if>
            <if test="replaceParam != null">replace_param,</if>
            <if test="jvmParam != null">jvm_param,</if>
            <if test="incStartTime != null">inc_start_time,</if>
            <if test="partitionInfo != null">partition_info,</if>
            <if test="lastHandleCode != null">last_handle_code,</if>
            <if test="replaceParamType != null">replace_param_type,</if>
            <if test="readerTable != null">reader_table,</if>
            <if test="primaryKey != null">primary_key,</if>
            <if test="incStartId != null">inc_start_id,</if>
            <if test="incrementType != null">increment_type,</if>
            <if test="datasourceId != null">datasource_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobGroup != null">#{jobGroup},</if>
            <if test="jobCron != null and jobCron != ''">#{jobCron},</if>
            <if test="jobDesc != null and jobDesc != ''">#{jobDesc},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="alarmEmail != null">#{alarmEmail},</if>
            <if test="executorRouteStrategy != null">#{executorRouteStrategy},</if>
            <if test="executorHandler != null">#{executorHandler},</if>
            <if test="executorParam != null">#{executorParam},</if>
            <if test="executorBlockStrategy != null">#{executorBlockStrategy},</if>
            <if test="executorTimeout != null">#{executorTimeout},</if>
            <if test="executorFailRetryCount != null">#{executorFailRetryCount},</if>
            <if test="glueType != null and glueType != ''">#{glueType},</if>
            <if test="glueSource != null">#{glueSource},</if>
            <if test="glueRemark != null">#{glueRemark},</if>
            <if test="glueUpdatetime != null">#{glueUpdatetime},</if>
            <if test="childJobid != null">#{childJobid},</if>
            <if test="triggerStatus != null">#{triggerStatus},</if>
            <if test="triggerLastTime != null">#{triggerLastTime},</if>
            <if test="triggerNextTime != null">#{triggerNextTime},</if>
            <if test="jobJson != null">#{jobJson},</if>
            <if test="replaceParam != null">#{replaceParam},</if>
            <if test="jvmParam != null">#{jvmParam},</if>
            <if test="incStartTime != null">#{incStartTime},</if>
            <if test="partitionInfo != null">#{partitionInfo},</if>
            <if test="lastHandleCode != null">#{lastHandleCode},</if>
            <if test="replaceParamType != null">#{replaceParamType},</if>
            <if test="readerTable != null">#{readerTable},</if>
            <if test="primaryKey != null">#{primaryKey},</if>
            <if test="incStartId != null">#{incStartId},</if>
            <if test="incrementType != null">#{incrementType},</if>
            <if test="datasourceId != null">#{datasourceId},</if>
         </trim>
    </insert>

    <update id="updateDatahubJobInfo" parameterType="DatahubJobInfo">
        update t_datahub_job_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="jobGroup != null">job_group = #{jobGroup},</if>
            <if test="jobCron != null and jobCron != ''">job_cron = #{jobCron},</if>
            <if test="jobDesc != null and jobDesc != ''">job_desc = #{jobDesc},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="alarmEmail != null">alarm_email = #{alarmEmail},</if>
            <if test="executorRouteStrategy != null">executor_route_strategy = #{executorRouteStrategy},</if>
            <if test="executorHandler != null">executor_handler = #{executorHandler},</if>
            <if test="executorParam != null">executor_param = #{executorParam},</if>
            <if test="executorBlockStrategy != null">executor_block_strategy = #{executorBlockStrategy},</if>
            <if test="executorTimeout != null">executor_timeout = #{executorTimeout},</if>
            <if test="executorFailRetryCount != null">executor_fail_retry_count = #{executorFailRetryCount},</if>
            <if test="glueType != null and glueType != ''">glue_type = #{glueType},</if>
            <if test="glueSource != null">glue_source = #{glueSource},</if>
            <if test="glueRemark != null">glue_remark = #{glueRemark},</if>
            <if test="glueUpdatetime != null">glue_updatetime = #{glueUpdatetime},</if>
            <if test="childJobid != null">child_jobid = #{childJobid},</if>
            <if test="triggerStatus != null">trigger_status = #{triggerStatus},</if>
            <if test="triggerLastTime != null">trigger_last_time = #{triggerLastTime},</if>
            <if test="triggerNextTime != null">trigger_next_time = #{triggerNextTime},</if>
            <if test="jobJson != null">job_json = #{jobJson},</if>
            <if test="replaceParam != null">replace_param = #{replaceParam},</if>
            <if test="jvmParam != null">jvm_param = #{jvmParam},</if>
            <if test="incStartTime != null">inc_start_time = #{incStartTime},</if>
            <if test="partitionInfo != null">partition_info = #{partitionInfo},</if>
            <if test="lastHandleCode != null">last_handle_code = #{lastHandleCode},</if>
            <if test="replaceParamType != null">replace_param_type = #{replaceParamType},</if>
            <if test="readerTable != null">reader_table = #{readerTable},</if>
            <if test="primaryKey != null">primary_key = #{primaryKey},</if>
            <if test="incStartId != null">inc_start_id = #{incStartId},</if>
            <if test="incrementType != null">increment_type = #{incrementType},</if>
            <if test="datasourceId != null">datasource_id = #{datasourceId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDatahubJobInfoById" parameterType="Long">
        delete from t_datahub_job_info where id = #{id}
    </delete>

    <delete id="deleteDatahubJobInfoByIds" parameterType="String">
        delete from t_datahub_job_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>